* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}



#welcom {
    background-image: url('images/img2.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#welcom > .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

#welcom > h1 {
    padding: 0.5em 0;
    z-index: 10 !important;
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

#welcom > .scroll-down-div {
    padding: 0.5em 0.5em;
    z-index: 10 !important;
    position: relative;
    text-align: center;
    font-size: 1.5rem;
    color: #CBFDFE;
    margin-top: 1em;
    display: flex;
    align-items: center;
}

.navbar {
    display: flex;
    flex-direction: row;
    padding: 20px 0;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: rgb(0, 29, 46);
    align-items: center;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    border-bottom: 2px solid rgb(80, 160, 197);
}

#badge {
    margin-left: 40px; 
    color: rgb(255, 255, 255); 
    padding: 10px 10px; 
    font-family: 'Montserrat', sans-serif; 
    font-weight: 800;
    border-left: 2px solid rgb(125, 220, 255);
    border-right : 2px solid rgb(125, 220, 230);
    border-radius: 10px;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin-left: auto;
    box-sizing: border-box;
}

.navbar-nav li {
    display: inline-block;
    margin-right: 20px;
    border-bottom: 2px solid transparent;
    transition-duration: 0.2s;
    color: rgb(255, 255, 255);
}

.navbar-nav li:hover {
    border-bottom: 2px solid lightblue;
    transform: translateY(-10%);
    color: rgb(0, 225, 255);
}

a {
    display: inline;
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
}

.arrow {
    width: 100px;
    animation: updown 1.5s infinite;
}

@keyframes updown {
    0% {
        transform: translateY(-10%);
    }
    50% {
        transform: translateY(10%);

    }
    100% {
        transform: translateY(-10%);
    }
}

#personal-info {
    background-image: url('images/img3.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding-bottom: 100px;
}

#personal-info  * {
    margin-top: 30px;
}

#personal-info > div {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.to-up {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

#education {
    background-image: url('logos/iti.png');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: left;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding-right: 3em;
}

.bottom-up {
    opacity: 0;
    transform: translateY(100%);
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

#skills {
    display: grid;
    gap: 1rem;
    grid-template-areas: 
    'a b c d'
    'e f f g'
    'h f f i'
    'j k l m';
    grid-template-rows: repeat(4, 20%);
    grid-template-columns: 240 auto auto 240;
    height: 100vh;
    padding-top: 50px;
    --stagger-delay: 200ms;
}

#skills img {
    object-fit: scale-down;
    height: 100%;
    width: 100%;
}

.grid-card {
    opacity: 0;
    overflow: hidden;
    animation-fill-mode: backwards;
    transform: scale(0.3);
    transition-duration: 1s;
    transition-timing-function: ease-out;
}

.animate {
    opacity: 1;
    transform: scale(1);
}

.grid-card:nth-child(1) {
    grid-area: a;
    transition-delay: calc(1 * var(--stagger-delay));
}
.grid-card:nth-child(2) {
    grid-area: b;
    transition-delay: calc(2 * var(--stagger-delay));
}
.grid-card:nth-child(3) {
    grid-area: c;
    transition-delay: calc(3 * var(--stagger-delay));
}
.grid-card:nth-child(4) {
    grid-area: d;
    transition-delay: calc(4 * var(--stagger-delay));
}
.grid-card:nth-child(5) {
    grid-area: e;
    transition-delay: calc(12 * var(--stagger-delay));
}
.grid-card:nth-child(6) {
    grid-area: f;
    transition-delay: calc(13 * var(--stagger-delay));
}
.grid-card:nth-child(7) {
    grid-area: g;
    transition-delay: calc(5 * var(--stagger-delay));
}
.grid-card:nth-child(8) {
    grid-area: h;
    transition-delay: calc(11 * var(--stagger-delay));
}
.grid-card:nth-child(9) {
    grid-area: i;
    transition-delay: calc(6 * var(--stagger-delay));
}
.grid-card:nth-child(10) {
    grid-area: j;
    transition-delay: calc(10 * var(--stagger-delay));
}
.grid-card:nth-child(11) {
    grid-area: k;
    transition-delay: calc(9 * var(--stagger-delay));
}
.grid-card:nth-child(12) {
    grid-area: l;
    transition-delay: calc(8 * var(--stagger-delay));
}
.grid-card:nth-child(13) {
    grid-area: m;
    transition-delay: calc(7 * var(--stagger-delay));
}

#contacts {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #0C2C65;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    width: 50%;
    border-bottom: 3px solid rgb(0, 204, 255);
}

.contact img {
    margin-right: auto;
}