* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}



#welcom {
    background-image: url('https://wallpapermemory.com/uploads/813/code-background-hd-2560x1440-53050.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#welcom > .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

#welcom > h1 {
    padding: 0.5em 0;
    z-index: 10 !important;
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

#welcom > .scroll-down-div {
    padding: 0.5em 0.5em;
    z-index: 10 !important;
    position: relative;
    text-align: center;
    font-size: 1.5rem;
    color: #CBFDFE;
    margin-top: 1em;
    display: flex;
    align-items: center;
}

.navbar {
    display: flex;
    flex-direction: row;
    padding: 5px 0;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: rgb(0, 29, 46);
    align-items: center;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    box-shadow: 0px 0 0 3px rgb(80, 160, 197);
}

.navbar:hover {
    padding: 20px 0;
}

#badge {
    margin-left: 40px; 
    color: rgb(255, 255, 255); 
    padding: 10px 10px; 
    font-family: 'Montserrat', sans-serif; 
    font-weight: 400;
    font-size: 1.3rem;
    border-left: 2px solid rgb(125, 220, 255);
    border-right : 2px solid rgb(125, 220, 230);
    border-radius: 10px;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin-left: auto;
    box-sizing: border-box;
}

.navbar-nav li {
    display: inline-block;
    margin-right: 50px;
    border-bottom: 2px solid transparent;
    transition-duration: 0.2s;
    color: rgb(255, 255, 255);
    position: relative;
}

.navbar a {
    display: inline;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar a:hover {
    color: rgb(225, 241, 255);
}

.navbar a::before {
    content: '';
    width: 0%;
    height: 3px;
    background-color: lightblue;
    position: absolute;
    top: 100%;
    left: 50%;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.navbar a:hover::before {
    width: 100%;
    left: 0;
}

.arrow {
    width: 100px;
    animation: updown 1.5s infinite;
}

@keyframes updown {
    0% {
        transform: translateY(-10%);
    }
    50% {
        transform: translateY(10%);

    }
    100% {
        transform: translateY(-10%);
    }
}

#personal-info {
    background-image: url('https://cutewallpaper.org/21/website-background-images-hd/Savin-NY-Website-Background-Web-Design-Create-Build-Run-.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding-bottom: 100px;
}

#personal-info  * {
    margin-top: 30px;
}

#personal-info > div {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    width: 60%;
}

.to-up {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

#education {
    background-image: url('https://uteena.com//static/uteena/images/iti_logo.5b9a0fd125be.png');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: left;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding-right: 3em;
}

.bottom-up {
    opacity: 0;
    transform: translateY(100%);
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

#skills {
    display: grid;
    gap: 1rem;
    grid-template-areas: 
    'a b c d'
    'e f f g'
    'h f f i'
    'j k l m';
    grid-template-rows: repeat(4, 20%);
    grid-template-columns: 240 auto auto 240;
    height: 100vh;
    width: 80vw;
    margin: auto;
    padding-top: 50px;
    --stagger-delay: 150ms;
}

#skills img {
    object-fit: scale-down;
    height: 100%;
    width: 100%;
}

.grid-card {
    opacity: 0;
    overflow: hidden;
    animation-fill-mode: backwards;
    transform: scale(0.3);
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

.animate {
    opacity: 1;
    transform: scale(1);
}

.grid-card:nth-child(1) {
    grid-area: a;
    transition-delay: calc(1 * var(--stagger-delay));
}
.grid-card:nth-child(2) {
    grid-area: b;
    transition-delay: calc(2 * var(--stagger-delay));
}
.grid-card:nth-child(3) {
    grid-area: c;
    transition-delay: calc(3 * var(--stagger-delay));
}
.grid-card:nth-child(4) {
    grid-area: d;
    transition-delay: calc(4 * var(--stagger-delay));
}
.grid-card:nth-child(5) {
    grid-area: e;
    transition-delay: calc(12 * var(--stagger-delay));
}
.grid-card:nth-child(6) {
    grid-area: f;
    transition-delay: calc(13 * var(--stagger-delay));
}
.grid-card:nth-child(7) {
    grid-area: g;
    transition-delay: calc(5 * var(--stagger-delay));
}
.grid-card:nth-child(8) {
    grid-area: h;
    transition-delay: calc(11 * var(--stagger-delay));
}
.grid-card:nth-child(9) {
    grid-area: i;
    transition-delay: calc(6 * var(--stagger-delay));
}
.grid-card:nth-child(10) {
    grid-area: j;
    transition-delay: calc(10 * var(--stagger-delay));
}
.grid-card:nth-child(11) {
    grid-area: k;
    transition-delay: calc(9 * var(--stagger-delay));
}
.grid-card:nth-child(12) {
    grid-area: l;
    transition-delay: calc(8 * var(--stagger-delay));
}
.grid-card:nth-child(13) {
    grid-area: m;
    transition-delay: calc(7 * var(--stagger-delay));
}

#contacts {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #0C2C65;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    width: 50%;
    border-bottom: 3px solid rgb(0, 204, 255);
}

.contact img {
    margin-right: auto;
}

.contact h1 {
    font-size: larger;
}

.side-navbar.hidden {
    left: -100% !important;
}

.backdrop.hidden {
    display: none !important;
}

.side-navbar {
    position: fixed;
    top: 0;
    width: 250px;
    height: 100vh;
    background-color: #001D2E;
    z-index: 200;
    padding-top: 50px;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}
.side-nav {
    list-style: none;
    padding: 0;
    box-sizing: border-box;
}

.side-nav li {
    margin-right: auto;
    border-bottom: 2px solid transparent;
    transition-duration: 0.2s;
    color: rgb(255, 255, 255);
    position: relative;
    box-sizing: border-box;
    width: 100%;
    overflow-x: hidden;
    height: 70px;
}

.side-nav a {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.side-nav a:hover {
    color: #001D2E;
}

.side-nav a::before {
    content: '';
    width: 0%;
    height: 100%;
    background-color: rgb(204, 242, 255);
    position: absolute;
    top: 0;
    left: -20%;
    /* left: 50%; */
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transform: skewX(45deg);
    z-index: -1;
}

.side-nav a:hover::before {
    width: 150%;
    /* left: 0; */
}

#personal-info p {
    padding: 20px;
} 
#personal-info h2 {
    padding: 20px;
} 

@media  (max-width: 1100px) {
    .navbar-nav {
        display: none;
    }
    
    #badge {
        margin: auto; 
        color: rgb(255, 255, 255); 
        padding: 10px 10px; 
        font-family: 'Montserrat', sans-serif; 
        font-weight: 400;
        font-size: 1.3rem;
        border-left: 2px solid rgb(125, 220, 255);
        border-right : 2px solid rgb(125, 220, 230);
        border-radius: 10px;
    }

    .side-navbar {
        left: 0;
    }
    
    .nav-toggle {
        width: 40px;
        height: 50px;
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        align-items: center;
        padding: 10px 0;
        box-sizing: border-box;
        cursor: pointer;
        margin-left: 20px;
    }
    
    .nav-toggle div {
        width: 90%;
        height: 3px;
        background-color: white;
    }

    .backdrop {
        position: fixed;
        top: 0;
        height: 100vh;
        width: 100%;
        z-index: 150;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .side-navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 250px;
        height: 100vh;
        background-color: #001D2E;
        z-index: 200;
        padding-top: 50px;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
    }
    .side-nav {
        list-style: none;
        padding: 0;
        box-sizing: border-box;
    }
    
    .side-nav li {
        margin-right: auto;
        border-bottom: 2px solid transparent;
        transition-duration: 0.2s;
        color: rgb(255, 255, 255);
        position: relative;
        box-sizing: border-box;
        width: 100%;
        overflow-x: hidden;
        height: 70px;
    }
    
    .side-nav a {
        color: inherit;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        height: 100%;
        display: flex;
        align-items: center;
        padding-left: 10px;
    }
    
    .side-nav a:hover {
        color: #001D2E;
    }
    
    .side-nav a::before {
        content: '';
        width: 0%;
        height: 100%;
        background-color: rgb(204, 242, 255);
        position: absolute;
        top: 0;
        left: -20%;
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;
        transform: skewX(45deg);
        z-index: -1;
    }
    
    .side-nav a:hover::before {
        width: 150%;
    }
} 

@media (max-width: 600px) {
    #personal-info > div {
        width: 95%;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    #personal-info  h2 {
        font-size: larger;
    }

    #education h1 {
        font-size: larger;
    }
}